
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    overflow: hidden;
    background-color: #333;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float:left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color:  inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
   display: block; 
}
